@media (max-width: 1200px) {
  .banner-right img{
    right: 0;
  }
  .banner-right, .banner-right img {
    width: 100%;
  }
  .banner-left {
    width: 450px;
  }
}
@media (max-width: 991px) {
  .banner-left {
    width: auto;
  }
  .banner .d-flex .align-items-center {
    flex-direction: column;
  }
  .calendly1 {
    /* display: none; */
  }
  .calendy2 {
    display: block;
  }
  .gradient-bg {
    height: auto;
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .section-2 .div2 .d-flex{
    flex-direction: column;
  }
}
@media (max-width: 530px) {
  .section-2 .div1 .d-flex{
    flex-direction: column;
    align-items: center;
  }
  .section-2 .div1 .d-flex div{
    width: 200px;
  }
}