.color-gray {
  color: #848484;
}
.banner {
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-left {
  width: 600px;
}
.banner-right {
  width: 500px;
  height: 720px;
}
.banner-right img {
  right: 80px;
}
.banner .d-flex .align-items-center {
  gap: 50px;
}
.calendy2 {
  display: none;
}
.gradient-bg {
  background-image: linear-gradient(
    to bottom,
    rgba(18, 179, 194, 0.1),
    rgba(189, 218, 159, 0.1)
  );
  height: 100vh;
}
.schedule-calendly {
  border: 1px #bdda9f solid;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
ul {
  gap: 20px;
  padding: 0 !important;
  margin-top: 20px !important;
}
ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
ul li:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("img/check.png");
}
